<!DOCTYPE html>
<html>
    <head>
        <style>
            #heading{
                color: #000;
                background: linear-gradient(to left, #fff, blue);
            }
        </style>

    </head>

    <body>
        <header>
            <nav>

            </nav>
            <h1 id="heading"><%= data.title %></h1>

            <%= JSON.stringify(data) %>
        </header>


        <footer>

        </footer>
    </body>
</html>